*{
    background-color: bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

body {
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 3%;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: none;
}

legend {
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.4rem;
  font-style: italic;

}

input[type='radio']:checked + label{
    border: 4px solid black;
}

input {
    display: none;
}

label {
    border:1px solid black;
    padding: 8%;
    color: white;
    width: 60%;
    font-size: 1.5rem;
    text-align: center;

}

label:nth-of-type(1){
    background-color: cadetblue;
}

label:nth-of-type(2){
    background-color: rgb(138, 163, 68);
}

label:nth-of-type(3){
    background-color: rosybrown;
}

label:nth-of-type(4){
    background-color: rgb(210, 177, 115);
}

button {
    padding: 3%;
    background-color: black;
    color: white;
    margin-left: 38%;
    font-size: 1rem;

}

#restart-btn {
    padding: .5rem;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 50px;
    /* font-weight: bold; */
    position: absolute;
    top: -1.5rem;
    right: -.5rem;
    margin: 0;
}

@media screen and (min-width: 768px) and (min-width: 900px) {
    
    h1 {
        text-align: center;
        margin-top: 3%;
    }
    

    fieldset {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        border: none;
        /*padding: 0 2%;*/
    }

    label {
        display: flex;
        flex-direction: row;
        align-items: center;
        border:1px solid black;
        padding: 3%;
        color: white;
        font-size: 20px;
        width: 35%;
        height: auto;
        margin-top: 1%;
        margin-left: 1%;
    }

    button {
        margin-top: 2%;
        margin-bottom: 2%;
        padding: 2%;
        border: 1px solid black;
        text-align: left;
        margin-left: 43%;
    }

    legend {
        font-size: 20px;
        padding-top: 3%;
        padding-bottom: 3%;
        font-style: italic;
        font-weight: 200;

      }

      #restart-btn {
        position: absolute;
        top: -1.5rem;
        right: 10rem;
        margin: 0;
    }
}

.correct-parr {
    color: green;
    font-weight: bold;
    font-style: normal;
}
.correct-legend {
    padding-bottom: 0;
}

.incorrect-parr {
    color: red;
    font-weight: bold;
    font-style: normal;
}
.incorrect-legend {
    padding-bottom: 0;
}

.empty-parr {
    color: orange;
    font-weight: bold;
    font-style: normal;
}
.empty-legend {
    padding-bottom: 0;
}

